/*------------------------------------------------------------------
[ General ]*/
h1 {
    color: #5e5e5e
}

div {
    font-family: Sans-serif;
}

/*------------------------------------------------------------------
[ id ]*/

#calendar { /* for calendar in Home page*/
    max-width: 900px;
    margin: 40px auto;
}

/* Table */
#bigTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#bigTable td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#bigTable tr:nth-child(even){background-color: #f2f2f2;}

#bigTable tr:hover {background-color: #ddd;}

#bigTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #f8635c;
    color: white;
}

/* Placement */
#floatLeft {
    float: left;
}

#floatLeft a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: #8fdf82;
}

#floatRight {
    float: right;
}

#floatRight a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: #8fdf82;
}

#white {
    color: white;
}

/*------------------------------------------------------------------
[ Classes ]*/

.navigate { /* NavBar */
    font-family: Sans-serif;
    font-size: 24px;
}

/* Buttons */
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button {
    background-color: white;
    color: black;
    border: 2px solid #f44336;
}

.button:hover {
    background-color: #f44336;
    color: white;
}
.bigButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.bigButton {
    background-color: white;
    color: black;
    border: 2px solid #f44336;
}

.bigButton:hover {
    background-color: #f44336;
    color: white;
}

/* Inputs */
.input { /* used in text fields*/
    font-family: Sans-serif;
    font-size: 15px;
    color: #000000;
    line-height: 1;
    border: 2px solid #444444;
    border-radius: 4px;

    display: block;
    width: 40%;
    height: 35px;

    padding: 5px;
}

.inputE {   /* is used for a wider input field */
    font-family: Sans-serif;
    font-size: 15px;
    color: #000000;
    line-height: 1;
    border: 2px solid #444444;
    border-radius: 4px;

    width: 250px;
    height: 35px;

    padding: 5px;
}

.inputBig { /* Used as a text area */
    font-family: Sans-serif;
    font-size: 15px;
    color: #000000;
    line-height: 1;
    border-radius: 4px;

    height: 80px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #444444;
    border-radius: 4px;
    resize: none;

    display: block;
    width: 40%;

    padding: 5px;
}

.inputSmall { /* A smaller input text field */
    font-family: Sans-serif;
    font-size: 15px;
    color: #000000;
    line-height: 1;
    border: 2px solid #444444;
    border-radius: 4px;

    width: 10%;
    height: 20px;

    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;

    padding: 5px;
}
/* Thicker text */
.bold {
    font-weight: bold;
}

.search[type=text] { /* Used for the search field in Member page */
    width: 250px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
/*===========================================================================================
[ Every class under this comment is used for sign in, forgot password and new member pages]*/

/*Login Form 3 by Colorlib*/

.navul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #f8635c;
    background: -webkit-linear-gradient(top, #ff7e94, #ef2b1a);
    background: -o-linear-gradient(top, #ff7e94, #ef2b1a);
    background: -moz-linear-gradient(top, #ff7e94, #ef2b1a);
    background: linear-gradient(top, #ff7e94, #ef2b1a);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.navli {
    float: left;
}

.navli a {
    display: block;
    color: white;
    text-align: center;
    padding: 36px 16px;
    text-decoration: #8fdf82;
}

.navli a:hover {
    background-color: #5e5e5e;
}

.active {
    background: #5e5e5e;
}

.imgli {
    float: left;
    background-color: #fdfbff
}

.imgli a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.aboutli {
    float: right;
}

.aboutli a {
    display: block;
    color: white;
    text-align: center;
    padding: 36px 16px;
    text-decoration: #8fdf82;
}

.aboutli a:hover {
    background-color: #5e5e5e;
}
/*------------------------------------------------------------------
[ log in classes ]*/
.limiter {
    width: 100%;
    margin: 0 auto;
    background-image: url("image-background.jpg");
}

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;

}

.container-login100::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.9);
}

.wrap-login100 {
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
    padding: 55px 55px 37px 55px;
    background: #f8635c;
    background: -webkit-linear-gradient(top, #ff7e94, #ef2b1a);
    background: -o-linear-gradient(top, #ff7e94, #ef2b1a);
    background: -moz-linear-gradient(top, #ff7e94, #ef2b1a);
    background: linear-gradient(top, #ff7e94, #ef2b1a);
}


/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
    width: 100%;
}

.login100-form-logo {
    font-size: 60px;
    color: #333333;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 auto;


}

.login100-form-title {
    font-family: Poppins-Medium, Sans-serif;
    font-size: 35px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;

    display: block;
}


/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
    width: 100%;
    border-bottom: 2px solid rgba(255,255,255,0.24);
    margin-bottom: 30px;
}

.input100 {
    font-family: Sans-serif;
    font-size: 20px;
    color: #000000;
    line-height: 1.2;

    display: block;
    width: 100%;
    height: 45px;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 38px;
    padding-bottom: 0;
}

/*---------------------------------------------*/
.focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.focus-input100::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

    background: #fff;
}

.focus-input100::after {
    font-family: Material-Design-Iconic-Font;
    font-size: 22px;
    color: #fff;

    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 6px;
    left: 0px;
    padding-left: 5px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}



.input100:focus + .focus-input100::after {
    top: -22px;
    font-size: 18px;
}

.input100:focus + .focus-input100::before {
    width: 100%;
}

.has-val.input100 + .focus-input100::after {
    top: -22px;
    font-size: 18px;
}

.has-val.input100 + .focus-input100::before {
    width: 100%;
}

.has-val.input100 {
    padding-left: 5px;
}
/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.login100-form-btn {
    font-family: Poppins-Medium, Sans-serif;
    font-size: 20px;
    color: #555555;
    line-height: 1.2;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 120px;
    height: 50px;
    border-radius: 25px;

    background: #ffffff;
    background: -webkit-linear-gradient(top, #FF7E94, #ef2b1a);
    background: -o-linear-gradient(top, #ff7e94, #ef2b1a);
    background: -moz-linear-gradient(top, #ff7e94, #ef2b1a);
    background: linear-gradient(top, #fffdfb, #ef2b1a);
    position: relative;
    z-index: 1;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login100-form-btn::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: #fff;
    top: 0;
    left: 0;
    opacity: 1;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login100-form-btn:hover {
    color: #fff;
}

.login100-form-btn:hover:before {
    opacity: 0;
}

/*------------------------------------------------------------------
[ Forgottenpassword]*/
.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 15px;
}
/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
    .wrap-login100 {
        padding: 55px 15px 37px 15px;
    }
}



/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0px;
    pointer-events: none;

    font-family: Poppins-Regular;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;

    visibility: hidden;
    opacity: 0;

    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f12a";
    font-family: FontAwesome;
    font-size: 16px;
    color: #c80000;

    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 5px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}

.backButton {  /* "Go back" buttons*/
    font-family: Poppins-Medium, Sans-serif;
    font-size: 20px;
    color: #555555;
    line-height: 1.2;

    align-items: center;
    padding: 0 20px;
    min-width: 120px;
    height: 50px;
    border-radius: 25px;

    background: #ffffff;

    background: #ffffff;
    background: -webkit-linear-gradient(top, #ffffff, #FF7E94);
    background: -o-linear-gradient(top, #ffffff, #ff7e94);
    background: -moz-linear-gradient(top, #ffffff, #ff7e94);
    background: linear-gradient(top, #ffffff, #fffdfb);
    position: relative;
    z-index: 1;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.backButton::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: #fff;
    top: 0;
    left: 0;
    opacity: 1;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.backButton:hover {
    color: black;
}

.backButton:hover:before {
    opacity: 0;
}
.back {
    text-align: center;
}
